@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;700&display=swap');

[data-accordion-group] {
  width: 100%;
  margin-bottom: 3rem;

  [data-accordion] {
    &.open {
      [data-title] {
        background: rgb(205, 205, 205);
      }
    }

    [data-title] {
      display: flex;
      position: relative;
      cursor: pointer;
      padding: 1rem;
      background: rgb(225, 225, 225);
      transition: all 0.15s ease;
      font-weight: bold;

      &:hover {
        background: rgb(205, 205, 205);
      }
    }

    [data-content] {
      position: relative;
      max-height: 0;
      overflow: hidden;
      background: rgb(245, 245, 245);
      box-sizing: border-box;
      transition: max-height 350ms ease;
    }
  }
}

body {
  font-family: 'Poppins', sans-serif;

  h1 {
    font-family: 'Pacifico', sans-serif;
    font-size: 3rem;
    text-align: center;
  }

  .wrapper {
    padding: 1rem;

    h2 {
      margin-top: 0;
    }
  }
}

.container {
  max-width: 768px;
  margin: 0 auto;

  > h2 {
    margin: 3rem 0 0.5rem;
  }

  > h3 {
    margin: 2rem 0 0.5rem;
    color: rgb(60, 60, 60);
  }

  > p {
    font-size: 1rem;
    font-weight: normal;
  }
}

.text-center {
  text-align: center;
}

.logo {
  margin: 3rem 0 0;
  text-align: center;
}

.buttons {
  text-align: center;
}

.button {
  position: relative;
  display: inline-flex;
  padding: 0.25rem 1rem;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 2px;
  transition: all 0.15s ease;

  &.button--primary {
    background: rgb(77, 104, 255);
    color: white;

    &:hover {
      background:  rgba(77, 104, 255, 0.7);
    }
  }

  &.button--secondary {
    background: rgb(62, 223, 62);
    color: white;

    &:hover {
      background: rgba(62, 223, 62, 0.7);
    }
  }
}

pre {
  margin-bottom: 3rem;
  padding: 1rem;
  background: rgb(80, 80, 80);
  border-radius: 2px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  color: white;
}

.read-more {
  [data-title] {
    justify-content: center;
    max-width: 200px;
    margin: 1.5rem auto 0;
  }
}