@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;700&display=swap');

[data-accordion-group] {
  [data-accordion] {
    [data-content] {
      max-height: 0;
      overflow: hidden;
      transition: max-height 350ms ease;
    }
  }
}